<section class="comment">
    <div class="comment-main">
        <div class="comment-image-one"></div>
        <div class="comment-content">
            <div class="admin">
                <img src="images/user.png" alt="admin" class="admin-image">
                <div class="name">
                    <li>Admin</li>
                    <li class="date">June 6,2024</li>
                </div>
            </div>
            <div class="main-comment">
                <h1>The Girl from Ipanema</h1>
                <p class="main-comment--content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading...</p>
            </div>
          <div class="comment-emojis">
                <div class="seen">
                    <img src="images/seen.png" alt="seen">
                    <span>0</span>
                </div>
                <div class="message"> 
                    <img src="images/message.png" alt="message">
                    <span>0</span>
                </div>
                <div class="heart">
                    <img src="images/heart.png" alt="heart">
                    <span>10</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="comment">
    <div class="comment-main">
        <div class="comment-image-two"></div>
        <div class="comment-content">
            <div class="admin">
                <img src="images/user.png" alt="admin" class="admin-image">
                <div class="name">
                    <li>Admin</li>
                    <li class="date">June 6,2024</li>
                </div>
            </div>
            <div class="main-comment">
                <h1>The Mexico Diary, Day 1: Oaxaco</h1>
                <p class="main-comment--content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading...</p>
            </div>
          <div class="comment-emojis">
                <div class="seen">
                    <img src="images/seen.png" alt="seen">
                    <span>0</span>
                </div>
                <div class="message"> 
                    <img src="images/message.png" alt="message">
                    <span>0</span>
                </div>
                <div class="heart">
                    <img src="images/heart.png" alt="heart">
                    <span>13</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="comment">
    <div class="comment-main">
        <div class="comment-image-three"></div>
        <div class="comment-content">
            <div class="admin">
                <img src="images/user.png" alt="admin" class="admin-image">
                <div class="name">
                    <li>Admin</li>
                    <li class="date">June 6,2024</li>
                </div>
            </div>
            <div class="main-comment">
                <h1>Mykonos with Mr. & Mrs.Smith</h1>
                <p class="main-comment--content">Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your audience to continue reading...</p>
            </div>
          <div class="comment-emojis">
                <div class="seen">
                    <img src="images/seen.png" alt="seen">
                    <span>0</span>
                </div>
                <div class="message"> 
                    <img src="images/message.png" alt="message">
                    <span>0</span>
                </div>
                <div class="heart">
                    <img src="images/heart.png" alt="heart">
                    <span>12</span>
                </div>
            </div>
        </div>
    </div>
</section>