<section class="icon-content">
    <div class="icons">
        <li><img src="images/facebook (1).png" alt="Facebook"><span class="icons-one">Facebook</span></li>
        <li><img src="images/instagram (1).png" alt="Instagram"><span class="icons-two">Instagram</span></li>
        <li><img src="images/linkedin (1).png" alt="linkedin"><span class="icons-three">Linkedin</span></li>
        <li><img src="images/twitter.png" alt="X"><span class="icons-four">Twitter</span></li>
    </div>
    <div class="icons-image">
        <img src="images/01.jpg" alt="picture-one" class="content-image-one">
        <img src="images/02.jpg" alt="picture-two" class="content-image-two">
        <img src="images/03.jpg" alt="picture-three" class="content-image-three">
        <img src="images/04.jpg" alt="picture-four" class="content-image-four">
        <img src="images/05.jpg" alt="picture-five" class="content-image-five">
    </div>
</section>