<div class="container">
    <div class="container__box">
    <input type="text" placeholder="Search..." class="search__engine">
        <img src="images/search-regular-24.png" alt="search-icon">
    </div>
    <ul class="container__items">
        <li class="item">Home</li>
        <li class="item">About</li>
        <li class="item">Travel</li>
        <li class="item">Eat</li>
        <li class="item ">Relax</li>
        <li class="item">Videos</li>
    </ul>
    <div class="container__icons">
        <img src="images/facebook (1).png" alt="facebook" class="icon-one">
        <img src="images/instagram (1).png" alt="instagram" class="icon-two">
        <img src="images/linkedin (1).png" alt="Linkedin" class="icon-three">
        <img src="images/twitter.png" alt="Twitter" class="icon-four">
    </div>
</div>